# Dependencies
node_modules/
package-lock.json

# Storage & Data
nectar-data/
pear-data/
nectar-data-second/
storage/

# Desktop / OS Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
run-second.sh
